@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --background2: 0 0% 100%;
    --foreground: 0, 0%, 9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --theme: 136 95% 40%;
    --theme-foreground: 0 0% 0%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;

    --light-green: 108, 100%, 96%;
  }

  .dark {
    --background: 0, 0%, 9%;
    --background2: 0, 0%, 15%;
    --foreground: 0 0% 100%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;

    --light-green: 0, 0%, 15%;
  }
}

@layer base {
  * {
    @apply border-border select-none;
  }
  body {
    @apply bg-background text-foreground relative;
    padding-top: 79px !important;
  }
}

.previous {
  left: 10%;
  z-index: 11;
}
.next {
  right: 10%;
  z-index: 11;
}

html::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

html:hover::-webkit-scrollbar {
  position: absolute;
  right: 0;
  width: 4px;
}

html::-webkit-scrollbar-thumb {
  background: #8888887c;
  border-radius: 4px;
}

html::-webkit-scrollbar-thumb:hover {
  background: #53a53f;
}

.booked-slot::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.booked-slot:hover::-webkit-scrollbar {
  position: absolute;
  right: 0;
  width: 6px;
}

.booked-slot::-webkit-scrollbar-thumb {
  background: #8888887c;
  border-radius: 10px;
}

.booked-slot::-webkit-scrollbar-thumb:hover {
  background: #53a53f;
}

/* width */
.scroll-nobg::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
.scroll-nobg::-webkit-scrollbar-track {
  background: var(--background);
}

/* Handle */
.scroll-nobg::-webkit-scrollbar-thumb {
  background: #d4d1d1;
  border-radius: 5px;
}

/* Handle on hover */
.scroll-nobg::-webkit-scrollbar-thumb:hover {
  background: #d4d1d1;
}

/* width */
.scroll-nobg-l::-webkit-scrollbar {
  width: 2px;
}

/* Track */
.scroll-nobg-l::-webkit-scrollbar-track {
  background: var(--background);
}

/* Handle */
.scroll-nobg-l::-webkit-scrollbar-thumb {
  background: #d4d1d1;
  border-radius: 5px;
}

/* Handle on hover */
.scroll-nobg-l::-webkit-scrollbar-thumb:hover {
  background: #d4d1d1;
}

.filter-sc::-webkit-scrollbar {
  width: 4px;
  background: transparent;
}

.filter-sc:hover::-webkit-scrollbar {
  position: absolute;
  right: 0;
  width: 4px;
}

.filter-sc::-webkit-scrollbar-thumb {
  background: #8888887c;
  border-radius: 4px;
}

.filter-sc::-webkit-scrollbar-thumb:hover {
  background: #53a53f;
}
